deploy-username: <pws-username>
deploy-password: <pws-password>
pws-organization: <pws-org-name>
pws-dev-space: development
pws-qa-space: qa
pws-prod-space: production
pws-api: <pws-api-url>
pws-app-suffix: app-hello
pws-app-domain: cfapps.io
